{% extends 'base.html' %}
{% block content %}

<h1>Finches List</h1>

{% for finch in finches %}
  <div class="card">
    <a href="/finches/{{finch.id}}">
        <div class="card-content">
        <span class="card-title">{{ finch.name }}</span>
        <p>Type: {{ finch.type }}</p>
        <p>Personality: {{ finch.personality }}</p>
        <p>Color: {{ finch.color }}</p>
        
        {% if finch.age > 2 %}
            <p>Age: {{ finch.age }}</p>
        {% else %}
            <p>Age: Baby Finch</p>
        {% endif %}
        </div>
    </a>
  </div>
{% endfor %}

{% endblock %}
